{template "content","header"}
<div class="header">
<div class="main">
	<div class="logo"><a href="{siteurl($siteid)}/"><img src="{IMG_PATH}lungu/logo.gif" width="120" /></a></div>
    <div  class="banner"> <ul class="nav0"><li><a href="{APP_PATH}"></a> </li><li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=9"></a></li><li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=10"></a></li><li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=11"></a> </li><li><a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=12"></a> </li><li><a href="{APP_PATH}bbs"></a> </li>
   
    <li style="color:#fff; font-size:12px; font-weight:bold; padding-left:60px; padding-top:10px; line-height:22px">{date('Y年m月d日 H:i:s')}<br />
     星期{date("w")}
    </li>
    </ul></div>
    <div class="bk3"></div>
    	
</div>

</div>
<div class="main" style="background:#FFF; padding-bottom:10px; clear:both">
<div class="jdt">
    <div id="KinSlideshow" style="visibility:hidden;">
        <a href="#" target="_blank"><img src="{IMG_PATH}lungu/pic1.jpg" alt="这是标题一" width="375" height="235" /></a>
        <a href="#" target="_blank"><img src="{IMG_PATH}lungu/pic1.jpg" alt="这是标题二" width="375" height="235" /></a>
        <a href="#" target="_blank"><img src="{IMG_PATH}lungu/pic1.jpg" alt="这是标题三" width="375" height="235" /></a>
        <a href="#" target="_blank"><img src="{IMG_PATH}lungu/pic1.jpg" alt="这是标题四" width="375" height="235" /></a>
        <a href="#" target="_blank"><img src="{IMG_PATH}lungu/pic1.jpg" alt="这是标题五" width="375" height="235" /></a>
        <a href="#" target="_blank"><img src="{IMG_PATH}lungu/pic1.jpg" alt="这是标题六" width="375" height="235" /></a>
    </div>

</div>

<div class="qqq">
<div class="qqq1">
{pc:content  action="lists" catid="16" order="id DESC" num="10"}
        	
   <ul>
    {loop $data $r}
   <li >
 <span style="width:50px; overflow:hidden"> {$r[title]}</span>{$r[qq]}

</li>{/loop}  
             {/pc}  
   
   </ul>
</div>

</div>
<div class="search"> 
<div style="height:40px">
<form>

</form>
</div>
<div class="login1">
<div class="indexlogin" id="logindiv">
<form method="post" action="index.php?m=member&c=index&a=login&siteid=1" onsubmit="save_username();" id="myform" name="myform">
<input type="hidden" name="forward" id="forward" value="{$forward}">
<div class="input">
			<label style="margin-right:-2px">用户名：</label><input type="text" id="username" name="username" size="20" class="input-text" >
            <input type="checkbox" name="cookietime" value="2592000" id="cookietime"> 记住密码
		</div>
        <div class="input">
			<label>密&nbsp;&nbsp;&nbsp;码：</label><input type="password" id="password" name="password" size="20" class="input-text">
            <a href="index.php?m=member&c=index&a=public_forget_password&siteid={$siteid}" class="blue">《忘记密码</a>
		</div>
       
        <div class="take"><div class="qq"> <img src="{IMG_PATH}lungu/qq.jpg" /></div>
		
		<div class="submit1"><input type="submit" name="dosubmit" id="dosubmit" value="会员登录"></div>
        
        <div class="submit1"><input type="button" name="register" value="会员注册" onclick="redirect('{APP_PATH}index.php?m=member&c=index&a=register&siteid={$siteid}')"></div>   </div>
       
</form>
</div>
</div>

</div>
<div class="col-left">
<div class="jsq">
<iframe src="http://www.pm-tea.com/jsq/index.html" width="690px" height="360px" frameborder="0" scrolling="no"  ></iframe>
</div>

<div class="ltjsq">
<object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="465" height="335">
  <param name="movie" value="{IMG_PATH}lungu/ltjsq.swf" />
  <param name="quality" value="high" />
  <param name="wmode" value="opaque" />
  <param name="swfversion" value="15.0.0.0" />
  <!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。 -->
  <param name="expressinstall" value="Scripts/expressInstall.swf" />
  <!-- 下一个对象标签用于非 IE 浏览器。所以使用 IECC 将其从 IE 隐藏。 -->
  <!--[if !IE]>-->
  <object type="application/x-shockwave-flash" data="{IMG_PATH}lungu/ltjsq.swf" width="465" height="335">
    <!--<![endif]-->
    <param name="quality" value="high" />
    <param name="wmode" value="opaque" />
    <param name="swfversion" value="15.0.0.0" />
    <param name="expressinstall" value="Scripts/expressInstall.swf" />
    <!-- 浏览器将以下替代内容显示给使用 Flash Player 6.0 和更低版本的用户。 -->
    <div>
      <h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
      <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" width="112" height="33" /></a></p>
    </div>
    <!--[if !IE]>-->
  </object>
  <!--<![endif]-->
</object>
<script type="text/javascript">
swfobject.registerObject("FlashID");
</script>

</div>


<div class="tab1">
<div id="lib_Tab1">
<div class="lib_Menubox lib_tabborder">
<ul>
   <li id="one1" onclick="setTab('one',1,4)" class="hover">新品上市</li>
   <li id="one2" onclick="setTab('one',2,4)" >改装作业贴</li>
   <li id="one3" onclick="setTab('one',3,4)">技术互动</li>  
</ul>
</div>
 <div class="lib_Contentbox lib_tabborder"> 
   <div id="con_one_1" >{pc:content  action="lists" catid="13" order="id DESC" num="11"}
        	
   <ul>
    {loop $data $r}
   <li>
   <a href="{$r[url]}" target="_self" ><font style="font-size:12px;color:#3F3F3F;font-weight:normal;line-height:28px;">{$r[title]}</font></a>
</li>{/loop}  
             {/pc}  
   
   </ul>

   
   </div>
   <div id="con_one_2" style="display:none">{pc:content  action="lists" catid="14" order="id DESC" num="11"}
        	
   <ul>
    {loop $data $r}
   <li>
   <a href="{$r[url]}" target="_self" ><font style="font-size:12px;color:#3F3F3F;font-weight:normal;line-height:28px;">{$r[title]}</font></a>
</li>{/loop}  
             {/pc}  
   
   </ul>
   </div>
   <div id="con_one_3" style="display:none">{pc:content  action="lists" catid="15" order="id DESC" num="11"}
        	
   <ul>
    {loop $data $r}
   <li>
   <a href="{$r[url]}" target="_self" ><font style="font-size:12px;color:#3F3F3F;font-weight:normal;line-height:28px;">{$r[title]}</font></a>
</li>{/loop}  
             {/pc}  
   
   </ul>
   </div>
 </div>
</div>

</div>
<div class="pics">
<div id="lib_Tab2">
<div class="lib_Menubox3 lib_tabborder">
<ul>
   <li id="two1" onclick="setTab('two',1,4)" class="hover" >新品上市</li>
   <li id="two2" onclick="setTab('two',2,4)" >原车款</li>
 
</ul>
</div>
 <div class="lib_Contentbox2 lib_tabborder"> 
   <div id="con_two_1"  >
   
   {pc:get sql="SELECT * FROM v9_gaizhuang where status=99 ORDER BY id DESC" num="7" cache="3600"  page="$page" return="data"}
        	
   <ul class="xpss" ><MARQUEE onmouseover=this.stop() onmouseout=this.start() scrollAmount=1 scrollDelay=20 direction=right height="99%">
    {loop $data $r}
   <li>
   <a href="{$r[url]}" target="_self"  ><img src="{$r[thumb]}" width="83"  />
     
   </a>
</li>{/loop}  
             {/pc}  
   </MARQUEE>
   </ul>
  </div>
   <div id="con_two_2" style="display:none">
   {pc:get sql="SELECT * FROM v9_yuanche where status=99 ORDER BY id DESC" num="7" cache="3600"  page="$page" return="data"}
        	
   <ul class="xpss"><MARQUEE onmouseover=this.stop() onmouseout=this.start() scrollAmount=1 scrollDelay=20 direction=right height="99%">
    {loop $data $r}
   <li>
   <a href="{$r[url]}" target="_self" ><img src="{$r[thumb]}" width="83"  /></a>
</li>{/loop}  
             {/pc}</MARQUEE> </ul> </div>
   
 </div>
</div>

<div class="pics">
<div id="lib_Tab3">
<div class="lib_Menubox3 lib_tabborder">
<ul>
   <li id="three1" onclick="setTab('three',1,5)" class="hover" >VIP供货商</li>
   <li id="three2" onclick="setTab('three',2,5)" >最新采购</li>
    <li id="three3" onclick="setTab('three',3,5)" >综合网站</li>
    
 
</ul>
</div>
 <div class="lib_Contentbox2 lib_tabborder"> 
   <div id="con_three_1" >
   <ul class="yqlink">
   {pc:link  action="type_list" typeid="56" siteid="1" linktype="1" order="listorder DESC" num="8" return="pic_link"} {loop $pic_link $v} 
   <li>     <a href="{$v['url']}" title="{$v['name']}" target="_blank">{$v[name]}</A> </li> {/loop} {/pc} 
   </ul>
   </div>
   <div id="con_three_2" style="display:none"> <ul class="yqlink">
   {pc:link  action="type_list" typeid="57" siteid="1" linktype="1" order="listorder DESC" num="8" return="pic_link"} {loop $pic_link $v} 
   <li>     <a href="{$v['url']}" title="{$v['name']}" target="_blank">{$v[name]}</A> </li> {/loop} {/pc} 
   </ul></div>
   <div id="con_three_3" style="display:none"> <ul class="yqlink">
   {pc:link  action="type_list" typeid="58" siteid="1" linktype="1" order="listorder DESC" num="8" return="pic_link"} {loop $pic_link $v} 
   <li>     <a href="{$v['url']}" title="{$v['name']}" target="_blank">{$v[name]}</A> </li> {/loop} {/pc} 
   </ul></div>
  
   
   
 </div>
</div>



</div>
</div></div>

<div style="width:280px; float:right; margin-top:8px; display:inline">


<div class="ads">
<p>轮毂供应批发商 </p>
<script language="javascript" src="{APP_PATH}caches/poster_js/13.js"></script>
<div style="height:5px"></div>
<script language="javascript" src="{APP_PATH}caches/poster_js/14.js"></script>
<div style="height:5px"></div>
<script language="javascript" src="{APP_PATH}caches/poster_js/15.js"></script>
<div style="height:5px"></div>
<script language="javascript" src="{APP_PATH}caches/poster_js/16.js"></script>
<div style="height:5px"></div>
<script language="javascript" src="{APP_PATH}caches/poster_js/17.js"></script>
<div style="height:5px"></div>
<script language="javascript" src="{APP_PATH}caches/poster_js/18.js"></script>
<div style="height:5px"></div>
<script language="javascript" src="{APP_PATH}caches/poster_js/19.js"></script>
<div style="height:5px"></div>
<script language="javascript" src="{APP_PATH}caches/poster_js/20.js"></script>


</div>

<div class="lgyxb">
<p><img src="{IMG_PATH}lungu/hg.gif" width="18" />轮毂英雄榜 </p>


</div>

<div class="anouce">
站内通知<a href=" " style="float:right; padding-right:8px; padding-top:6px"><img src="{IMG_PATH}lungu/more.jpg" /></a>
<div class="anc">
{pc:content  action="lists" catid="21" order="id DESC" num="4"}
        	
   <ul>
    {loop $data $r}
   <li>
   <a href="{$r[url]}" target="_self" >{$r[title]}</a>
</li>{/loop}  
             {/pc}  
   
   </ul>
</div>

</div>

</div>
</div>

	
   	
<style type="text/css">
<!--
#demo {
background: #FFF;
overflow:hidden;
border: 1px dashed #CCC;
width: 500px;
}
#demo img {
border: 3px solid #F2F2F2;
}
#indemo {
float: left;
width: 800%;
}
#demo1 {
float: left;
}
#demo2 {
float: left;
}
-->
</style>


<script>
<!--
function setTab(name,cursel,n){
 for(i=1;i<=n;i++){
  var menu=document.getElementById(name+i);
  var con=document.getElementById("con_"+name+"_"+i);
  menu.className=i==cursel?"hover":"";
  con.style.display=i==cursel?"block":"none";
 }
}
//-->
</script>
<script language="javascript" src="{APP_PATH}caches/poster_js/12.js"></script>


<script src="{JS_PATH}/jquery-1.4a2.min.js" type="text/javascript"></script>
<script src="{JS_PATH}/jquery.KinSlideshow-1.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
	$("#KinSlideshow").KinSlideshow();
})
</script>




<style type="text/css">
.code{ height:auto; padding:20px; border:1px solid #9EC9FE; background:#ECF3FD;}
.code pre{ font-family:"Courier New";font-size:14px;}
.info{ font-size:12px; color:#666666; font-family:Verdana; margin:20px 0 50px 0;}
.info p{ margin:0; padding:0; line-height:22px; text-indent:40px;}
h2.title{ margin:0; padding:0; margin-top:50px; font-size:18px; font-family:"微软雅黑",Verdana;}
h3.title{ font-size:16px; font-family:"微软雅黑",Verdana;}
.importInfo{ font-family:Verdana; font-size:14px;}
</style>
{template "content","footer"}